.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
  background: url(../../images/feynman.png) no-repeat bottom left #f2f2f2;
  background-size: 867px 637px;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
